<p class="text-center">
  <a href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook' }) }}" class="btn btn-link "><i class="fa fa-facebook-square fa-3x"></i></a>
  <a href="{{ path('hwi_oauth_service_redirect', {'service': 'google' }) }}" class="btn btn-link"><i class="fa fa-google-plus-square fa-3x"></i></a>
</p>
