{% extends "MastaUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
	<p class="alert alert-info text-center">{{ 'resetting.password_already_requested'|trans }}</p>
{% endblock fos_user_content %}
