{% extends 'MastaCoreBundle::layout.html.twig' %}
{% block title %}{{ parent() }} | Aceuill{% endblock %}
{% block content %}
    <div class="container jumbotron">
    	<h3 class="text-center">Bienvenu sur l'api rest-full de mapket</h3>
      <p class="read text-center">Vous avez la posssibilité de consomer notre api avec n'importe quelle client</p>
  	</div>

{% endblock %}
